#nav
{
	width: auto;
	float: left;
}

#nav ul { 
	width: 100%;
	list-style: none;
	font-weight: bold;
	font-size: 12px;
	background-image: url(../files/media/nav_bg25.png);
	padding: 0;
	margin: 0;
	border: none;
	border-width: 0;
	float: left;
	line-height:12px;
	background-repeat: repeat;

}

#nav a {
	display : block;
	text-decoration : lowercase;
}

#nav ul li a {
	color: #ffffff;
	

}



#nav ul li a.dropdownarrow
{
	
}

#nav li {
	color: #ffffff;
	float: left;
	border-right: 1px solid #fff;

}


#nav li img{
margin:0px 0px 0px 4px;
padding:0px;
vertical-align: middle; 

}

#nav li ul {

	position : absolute;
	left : -999em;
	background-image: url(../files/media/nav_bg-25.png)
	background-repeat: repeat;
	left : -111em;
	height : auto;
	font-weight : normal;
	border-width : 0.25em;
	margin : 2px 0px 0px 0px;
}

#nav li ul
{
	display:none;
	left: auto;
	margin: 0 -2px 0 0;
	width:auto;
	border-right: solid 1px #fff;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	text-align:	center;
	background-image: url(../files/media/nav_bg-x.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

#nav li li {
	border-right: none;
	
}

#nav li ul li
{
	float: none;
	clear:both;
	border-top: 1px solid #FFFFFF;
	width:auto;
	display:block;
	list-style-type: none;
	
	margin-left: 1px;
	font-weight: bold;
	
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


#nav ul li:hover {
	color: #fff;
	margin-left: -1px:
	border-left: 1px solid #fff;
	}

#nav ul li:hover ul.nj{
	color: #333333;
	background-image:  url(../files/media/nav_bg_hover.png);
	background-repeat: repeat;
	display:block;
	background-color: #828282;

}

#nav a:hover {
	color: #fff;
	background-image:  url(../files/media/nav_bg_hover.png);
	background-repeat: repeat;
}

.current_page_item
{
	background-image:  url(../files/media/nav_bg_hover.png);
	background-repeat: repeat;
}

#nav ul li.current_page_item a {
	color: #fff;
}

#nav ul li.current_page_item  ul li{
	border-right: 1px solid #CCCCCC;
	color: #000000;
}


#nav ul li.current_page_item  ul li a{
	color: #ffffff;
}


#nav ul li.current_page_item  ul li a:hover{
	color: #fff;
	background-image:  url(../files/media/nav_bg_hover.png);
	background-repeat: repeat;
}
